<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TreeCare"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">
        <activity
            android:name=".user.target.DetailTargetActivity"
            android:exported="false" />
        <activity
            android:name=".user.kondisi_tapak.DetailKondisiTapakActivity"
            android:exported="false" />
        <activity
            android:name=".user.kerusakan_pohon.DetailKerusakanPohonActivity"
            android:exported="false" />
        <activity
            android:name=".user.kerusakan_pohon.ListKerusakanPohonActivity"
            android:exported="false" />
        <activity
            android:name=".user.kesehatan_pohon.DetailKesehatanPohonActivity"
            android:exported="false" />
        <activity
            android:name=".user.karakteristik_pohon.DetailKarakteristikPohonActivity"
            android:exported="false" />
        <activity
            android:name=".user.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".user.RiwayatPerubahanActivity"
            android:exported="false" />
        <activity
            android:name=".user.RiwayatPengamatanActivity"
            android:exported="false" />
        <activity
            android:name=".user.target.TambahTargetActivity"
            android:exported="false" />
        <activity
            android:name=".user.kondisi_tapak.TambahKondisiTapakActivity"
            android:exported="false" />
        <activity
            android:name=".user.kerusakan_pohon.TambahKerusakanPohonActivity"
            android:exported="false" />
        <activity
            android:name=".user.kerusakan_pohon.KerusakanPohonActivity"
            android:exported="false" />
        <activity
            android:name=".user.kesehatan_pohon.TambahKesehatanPohonActivity"
            android:exported="false" />
        <activity
            android:name=".user.karakteristik_pohon.TambahKarakteristikPohonActivity"
            android:exported="false" />
        <activity
            android:name=".user.identitas_pohon.EditIdentitasPohonActivity"
            android:exported="false" />
        <activity
            android:name=".user.identitas_pohon.DetailIndentitasPohonActivity"
            android:exported="false" />
        <activity
            android:name=".user.identitas_pohon.TambahIdentitasPohonActivity"
            android:exported="false" />
        <activity
            android:name=".user.pengamatan_visual.PengamatanVisualActivity"
            android:exported="false" />
        <activity
            android:name=".user.MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>